<div class="row mb-1 mt-3 container">
  <div class="col-sm-1 ml-4 mt-1">
    <i class="fas fa-thermometer-half fa-4x"></i>
  </div>
  <div class="col">
    <div class="row">
      <h4>Advanced Settings</h4>
    </div>
    <div class="row">
      <p>Adjust here the financial parameters of each valuation method. For each parameter, defaults are provided by Equidam
        and should be changed by expert users.</p>
    </div>
  </div>
</div>

<div class="pt-3 pb-5 pr-4 mr-4 pl-4" id="main">
  <div class="row pt-2">
    <div class="col-md-9 pt-5 mb-5">
      <div class="row" id="HEADS">
        <div class="col">
          <p>SCORECARD</p>
        </div>
        <div class="col">
          <p>CHECK-LIST</p>
        </div>
        <div class="col">
          <p>VENTURE CAPITAL</p>
        </div>
        <div class="col">
          <p>DCF LONG TERM GROWTH</p>
        </div>
        <div class="col">
          <p>DCF WITH MULTIPLES</p>
        </div>
      </div>
      <div class="row" id="BARS">
        <div class="col">
          <div class="bar">
            <div id="bar1"></div>
          </div>
          <span class="badge badge-dark">Locked</span>
        </div>
        <div class="col">
          <div class="bar">
            <div id="bar2"></div>
          </div>
          <span class="badge badge-dark">Locked</span>
        </div>
        <div class="col">
          <div class="bar">
            <div id="bar3"></div>
          </div>
          <span class="badge badge-dark">Locked</span>
        </div>
        <div class="col">
          <div class="bar">
            <div id="bar4"></div>
          </div>
          <span class="badge badge-dark">Locked</span>
        </div>
        <div class="col">
          <div class="bar">
            <div id="bar5"></div>
          </div>
          <span class="badge badge-dark">Locked</span>
        </div>
      </div>
      <div class="row" id="DIALS">
        <div class="col"><span><p><strong>30%</strong></p></span></div>
        <div class="col"><span><p><strong>30%</strong></p></span></div>
        <div class="col"><span><p><strong>16%</strong></p></span></div>
        <div class="col"><span><p><strong>12%</strong></p></span></div>
        <div class="col"><span><p><strong>12%</strong></p></span></div>
      </div>
      <div class="row" id="TEXT">
        <div class="col"><input type="text" class="form-control" placeholder="30%" disabled></div>
        <div class="col"><input type="text" class="form-control" placeholder="30%" disabled></div>
        <div class="col"><input type="text" class="form-control" placeholder="16%" disabled></div>
        <div class="col"><input type="text" class="form-control" placeholder="12%" disabled></div>
        <div class="col"><input type="text" class="form-control" placeholder="12%" disabled></div>
      </div>
      <div class="row" id="BUTTONS">
        <div class="col"><button type="button" class="btn btn-outline-success">MORE</button></div>
        <div class="col"><button type="button" class="btn btn-outline-success">MORE</button></div>
        <div class="col"><button type="button" class="btn btn-outline-success">MORE</button></div>
        <div class="col"><button type="button" class="btn btn-outline-success">MORE</button></div>
        <div class="col"><button type="button" class="btn btn-outline-success">MORE</button></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info mb-2">
        <button type="button" class="btn btn-success" style="background-color: #a7d90c; color: white; margin-top: 0px !important">
          <strong>ACTIVATE SETTINGS</strong>
        </button>
        <p class="pt-3">Adjusting the weights of the methods in the average will change the final outcome of the valuation. From our experience,
          DCF methods are appropriate for companies with track record in terms of revenues and should have heavier weights
          in these cases.</p>
        <p> Younger companies with no track record have unreliable forecasts, and, for them, qualitative methods that are not
          based on projections should be more important than DCF methods.</p>
      </div>
      <h2>
        <span id="gbp">£</span>
        <span id="num">
          <strong>1,446,537</strong>
        </span>
      </h2>
      <p>AVERAGE PRE-MONEY VALUATION</p>
    </div>
  </div>
</div>