#main {
    background-color: white !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    border-radius: 30px;
}

p {
    font-size: 14px;
}

.subtext{
    font-size: 12px;
    font-style: italic;
}




