<div class="pt-3 pr-2 pl-4" id="main">
    <div class="row">
        <div class="col">
            <h4 style="color: black">Assets</h4>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <p>Cash and equivalents</p>
                </div>
                <div class="col">
                    <input type="text" class="form-control" aria-label="">
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <p>Tangible assets</p>
                </div>
                <div class="col">
                    <input type="text" class="form-control" aria-label="">
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <p>Intangible assets</p>
                </div>
                <div class="col">
                    <input type="text" class="form-control" aria-label="">
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <p>Financial assets</p>
                </div>
                <div class="col">
                    <input type="text" class="form-control" aria-label="">
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <p>Deferred tax assets</p>
                </div>
                <div class="col">
                    <input type="text" class="form-control" aria-label="">
                </div>
            </div>
        </div>
        <div class="col">
            <h4 style="color: black">Liabilities</h4>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <p>Debts due within one year time
                        <br> (e.g. short-term bank loans)
                    </p>
                </div>
                <div class="col">
                    <input type="text" class="form-control" aria-label="">
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <p>Debt due beyond one year time
                        <br> (e.g. bond issues, long-term leases)</p>

                </div>
                <div class="col">
                    <input type="text" class="form-control" aria-label="">
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <p>Equity</p>
                </div>
                <div class="col">
                    <input type="text" class="form-control" aria-label="">
                </div>
            </div>
        </div>
    </div>
</div>