<nav class="navbar navbar-expand-lg navbar-light fixed-top mb-3">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto ml-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <strong>TEAM</strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <strong>BUSINESS MODEL</strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <strong>PRODUCT AND MARKET</strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <strong>IP AND LEGAL</strong>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="row mb-2 mt-5 pt-3 container">
  <div class="col-sm-1 mt-1">
    <i class="fas fa-clipboard-check fa-3x pl-3"></i>
  </div>
  <div class="col mt-2">
    <div class="row">
      <h4>Team</h4>
    </div>
    <div class="row">
      <p>Everything about your team.</p>
    </div>
  </div>
</div>

<div class="pt-3 pb-5 pr-4 mr-4 pl-4 mb-3" id="main">

</div>

<div class="row mb-2 container">
  <div class="col-sm-1 mt-2">
    <i class="fas fa-shopping-cart fa-3x"></i>
  </div>
  <div class="col mt-2">
    <div class="row">
      <h4>Business Model</h4>
    </div>
    <div class="row">
      <p>Define below the specifics of your business model</p>
    </div>
  </div>
</div>

<div class="pt-3 pb-5 pr-4 mr-4 pl-4" id="main">

</div>

<div class="row mb-2 container">
  <div class="col-sm-1 mt-2">
    <i class="fas fa-map-marker-alt fa-3x pl-3"></i>
  </div>
  <div class="col mt-2">
    <div class="row">
      <h4>Product and Market</h4>
    </div>
    <div class="row">
      <p>It's time to specify your product and your target market</p>
    </div>
  </div>
</div>

<div class="pt-3 pb-5 pr-4 mr-4 pl-4" id="main">

</div>

<div class="row mb-2 container">
  <div class="col-sm-1 mt-2">
    <i class="fas fa-gavel fa-3x pl-2"></i>
  </div>
  <div class="col mt-2">
    <div class="row">
      <h4>IP and Legal</h4>
    </div>
    <div class="row">
      <p>Intellectual property rights and legal structure</p>
    </div>
  </div>
</div>

<div class="pt-3 pb-5 pr-4 mr-4 pl-4" id="main">

</div>

<div class="pt-3 pb-3 pr-4 mr-4 pl-4" id="main">
  <div class="pb-4">
    <div class="pl-5">
      <h6>* What is your relationship with the company being valued?</h6>
    </div>
    <div id="checks">
      <div class="form-check pt-1">
        <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">Founder</label>
      </div>
      <div class="form-check pt-1">
        <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">Employee from the finance/administration department</label>
      </div>
      <div class="form-check pt-1">
        <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">Employee from another department</label>
      </div>
      <div class="form-check pt-1">
        <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">External consultant and/or advisor</label>
      </div>
      <div class="form-check pt-1">
        <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">Current shareholder with no operating role</label>
      </div>
      <div class="form-check pt-1">
        <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">Interested investor/buyer</label>
      </div>
      <div class="form-check pt-1">
        <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">Other</label>
      </div>
    </div>
  </div>
  <div class="pl-5">
    <h6>* The purpose of my valuation is:</h6>
  </div>
  <div id="checks">
    <div class="form-check pt-1">
      <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
      <label class="form-check-label" for="exampleRadios1">Fundraising</label>
    </div>
    <div class="form-check pt-1">
      <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
      <label class="form-check-label" for="exampleRadios1">Selling the company</label>
    </div>
    <div class="form-check pt-1">
      <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
      <label class="form-check-label" for="exampleRadios1">Selling part of the shares</label>
    </div>
    <div class="form-check pt-1">
      <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
      <label class="form-check-label" for="exampleRadios1">Planning and strategy</label>
    </div>
    <div class="form-check pt-1">
      <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
      <label class="form-check-label" for="exampleRadios1">Shareholders reporting</label>
    </div>
    <div class="form-check pt-1">
      <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
      <label class="form-check-label" for="exampleRadios1">Tax reporting and compliance</label>
    </div>
    <div class="form-check pt-1">
      <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
      <label class="form-check-label" for="exampleRadios1">Other</label>
    </div>
  </div>
</div>