<nav class="fixed">
  <ul>
    <li>
      <a routerLink="dashboard">
        <i class="fab fa-angular fa-2x mb-3"></i>
      </a>
    </li>
    <li>
      <a routerLink="dashboard">
        <i class="fas fa-tachometer-alt fa-lg"></i>
      </a>
    </li>
    <li>
      <a routerLink="question">
        <i class="fas fa-clipboard-check fa-lg"></i>
      </a>
    </li>
    <li>
      <a routerLink="financials">
        <i class="fas fa-chart-bar fa-lg"></i>
      </a>
    </li>
    <li>
      <a routerLink="transaction">
        <i class="fas fa-chart-pie fa-lg"></i>
      </a>
    </li>
    <li>
      <a routerLink="reports">
        <i class="fas fa-book-open fa-lg"></i>
      </a>
    </li>
    <li>
      <a routerLink="advanced">
        <i class="fas fa-thermometer-half fa-lg mb-4"></i>
      </a>
    </li>
    <li>
      <a routerLink="profile">
        <i class="fas fa-user-circle fa-lg"></i>
      </a>
    </li>
    <li>
      <a routerLink="user">
        <i class="fas fa-user-cog fa-lg"></i>
      </a>
    </li>
  </ul>
</nav>